.pro-table-columns-setting {
  :global {
    .sortable-ghost {
      opacity: 0.8;
      background: rgb(var(--primary-color-5));
      color: #fff;
      .n-checkbox__label {
        color: #fff;
      }
    }
  }
}
